<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/favicon.png">
</head>
<body>
    
<h1 style="text-align: center;">AGW Trading Privacy Policy</h2>

<h3 style="color: #337CD0;">PRIVACY POLICY FOR AGW Trading</h3>

At AGW Trading, we are committed to protecting your privacy. This privacy policy outlines how we collect, use, and
protect your personal information.

<h3 style="color: #337CD0;">PERSONAL INFORMATION:</h3>

Information Collection: We collect personal information from you when you visit our website, fill out a form, or
interact with us in any other way. This information may include your name, email address, phone number, company name,
job title, and any other information you choose to provide us.
Use Of Information: We use the information we collect to provide you with marketing services, improve our website, and
communicate with you about our products and services. We may also use your information to personalise your experience
and provide you with targeted advertisements.
Information Sharing: We do not sell, trade, or otherwise transfer your personal information to third parties without
your consent. However, we may share your information with our trusted partners and service providers who assist us in
providing our services to you.
Information Protection: We take the security of your personal information seriously and take steps to protect it from
unauthorised access or disclosure. We use industry-standard security measures, such as encryption and firewalls, to
protect your information.

<h3 style="color: #337CD0;">COOKIES:</h3>

We use cookies to enhance your experience on our website and improve our services. Cookies are small text files that are
placed on your device when you visit our website. You can disable cookies in your browser settings if you prefer.

<h3 style="color: #337CD0;">LINKS TO THE THIRD-PARTY SITES:</h3>

Our website may contain links to third-party sites. We are not responsible for the privacy practices or content of these
sites. We encourage you to review the privacy policies of these sites before providing any personal information.

<h3 style="color: #337CD0;">CHANGES TO PRIVACY POLICY:</h3>>

We reserve the right to update or modify this privacy policy at any time. Any changes will be posted on our website, and
your continued use of our services after such changes have been made constitutes your acceptance of the new policy.

<h3 style="color: #337CD0;">USER ACCESS AND CONTROL</h3>

We provide our clients and their customers with access to and control over their personal information. Users can update
or delete their personal information by contacting us at hello@thegroupthree.com.

<h3 style="color: #337CD0;">CONTACT US</h3>

If you have any questions or concerns about our Privacy Policy or how we collect, use, or disclose information, please
contact us at hello@thegroupthree.com. We take your privacy seriously and are committed to addressing any issues or
concerns in a timely and professional manner.

<h3 style="color: #337CD0;">OTHER IMPORTANT INFORMATION</h3>

Our Privacy Policy applies only to the information collected by our company and not to any third- party websites or
services linked to or from our website. We encourage you to review the privacy policies of any third-party websites or
services before providing them with any personal information.

By using our website and services, you consent to the terms of this privacy policy.

<h3 style="color: #337CD0;">TERMS AND CONDITIONS</h3>

Welcome to AGW Trading. These TERMS AND CONDITIONS govern your use of our website and services. Please read them
carefully.

Thank you for choosing AGW Trading. These Terms and Conditions outline the terms of use of our website and services. By
using our website and services, you agree to these Terms and Conditions. If you do not agree to these Terms and
Conditions, please do not use our website or services.

<p>&#x2022;<strong style="color: #337CD0;"> Disclaimer:</strong> We provide our website and services on an “as is” and “as available” basis. We make no representations or
    warranties of any kind, express or implied, about the availability, reliability, accuracy, completeness, or
    suitability of our website or services. We disclaim all warranties, including but not limited to warranties of
    merchantability, fitness for a particular purpose, and non-infringement.</p>
   <p>&#x2022;<strong style="color: #337CD0;"> Copyright:</strong> All content on our website and in our marketing materials, including but not limited to text,
    graphics,logos,images, and software, is the property of AGW Trading or its content suppliers and is protected by
    copyright laws. You may not copy, distribute, or use any content without our prior written consent.</p>
    <p>&#x2022; <strong style="color: #337CD0;">Trademarks:</strong> All trademarks, service marks, and logos used on our website and in our marketing materials are the
    property of AGW Trading or their respective owners. You may not use any trademark, service mark, or logo without our
    prior written consent or the consent of the respective owner.</p>
    <p>&#x2022; <strong style="color: #337CD0;">Use of Our Services:</strong> Our services are intended for businesses in the blockchain industry. By using our services, you
    represent and warrant that you are authorised to act on behalf of your business.</p>
    <p>&#x2022;<strong style="color: #337CD0;"> Payments:</strong> We offer various services with different pricing structures. Payment is required in advance for all
    services. Payments must be made in accordance with the terms and conditions specified for each service.</p>
    <p>&#x2022; <strong style="color: #337CD0;">Third-Party Services or Products:</strong> Our website and services may contain links to third-party websites or services .
    We do not endorse any products or services offered by third parties and are not responsible for the content or
    reliability of any third-party websites or services.</p>
   <p>&#x2022; <strong style="color: #337CD0;">Third-Party Rights:</strong> We respect the intellectual property rights of others and require our users to do the same. If
    you believe that any content on our website or in our marketing materials infringes on your intellectual property
    rights, please contact us immediately</p>
    <p>&#x2022;<strong style="color: #337CD0;"> Confidentiality:</strong> We understand the sensitive nature of the blockchain industry and will maintain the confidentiality
    of your information. We will not disclose your confidential information to any third party without your consent.</p>
    <p>&#x2022; <strong style="color: #337CD0;">Limitation of Liability:</strong> In no event shall AGW Trading or its suppliers be liable for any damages (including,
    without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or
    inability to use our website or services, even if AGW Trading or its suppliers have been notified orally or in
    writing of the possibility of such damage.</p>
   <p>&#x2022; <strong style="color: #337CD0;">Indemnification:</strong> You agree to indemnify and hold AGW Trading and its affiliates, officers, agents, and employees
    harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising
    out of your use of our website or services.</p>
    <p>&#x2022;<strong style="color: #337CD0;"> Modification:</strong> We reserve the right to modify these Terms and Conditions at any time. Any modifications will be
    effective immediately upon posting on our website.</p>
    <p>&#x2022; <strong style="color: #337CD0;">Governing Law and Jurisdiction:</strong> These Terms and Conditions shall be governed by and construed in accordance with the
    laws of the state in which AGW Trading is registered. Any legal action arising out of or in connection with these
    Terms and Conditions shall be brought in the courts located in that state.</p>
    <p>&#x2022;<strong style="color: #337CD0;"> Entire Agreement:</strong> These Terms and Conditions, together with any agreements or statements made by us in writing with
    the client, constitute the entire agreement between the parties and supersede all prior negotiations,
    understandings, and agreements between the parties.</p>
    <p>If you have any questions or concerns about these Terms and Conditions, please contact us at legal.</p>

</body>
</html>